.custom-margin-top {
    margin-top: -200px; 
  }

  .custom-margin{
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
  }
  
  
.bg-image {
    background-image: url('./assets/port-logo5.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  
  .bg-overlay {
    background-color: rgba(255, 255, 255, 0.1); 
    height: 100%;
    width: 100%;
  }
  
  .content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  